In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import prettytable

prettytable.DEFAULT = 'DEFAULT'

conn = sqlite3.connect("data/sales_dataset.db")
data = pd.read_csv("data/Sales_Dataset_for_practice.csv")
data.to_sql("Sales_table", conn, if_exists="replace", index=False)

%load_ext sql
%sql sqlite:///data/sales_dataset.db
%matplotlib inline

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# A sample of the table

In [21]:
%sql select * from Sales_table limit 5;

 * sqlite:///data/sales_dataset.db
Done.

[('B-26776', 9726, 1275, 5, 'Electronics', 'Electronic Games', 'UPI', '2023-06-27', 'David Padilla', 'Florida', 'Miami', '2023-06'),
 ('B-26776', 9726, 1275, 5, 'Electronics', 'Electronic Games', 'UPI', '2024-12-27', 'Connor Morgan', 'Illinois', 'Chicago', '2024-12'),
 ('B-26776', 9726, 1275, 5, 'Electronics', 'Electronic Games', 'UPI', '2021-07-25', 'Robert Stone', 'New York', 'Buffalo', '2021-07'),
 ('B-26776', 4975, 1330, 14, 'Electronics', 'Printers', 'UPI', '2023-06-27', 'David Padilla', 'Florida', 'Miami', '2023-06'),
 ('B-26776', 4975, 1330, 14, 'Electronics', 'Printers', 'UPI', '2024-12-27', 'Connor Morgan', 'Illinois', 'Chicago', '2024-12')]

# Questions about the overview of the Dataset
- How many rows and columns are in the sales dataset?
- What are the column names

# Categories and Product
- How many unique product categories are there?
- Which category has the most product?

# Total revenue by Category
- What is the total revenue generated per product category?

# Regional Performance
- What is the total revenue per region?
- Which region is underperforming?

# Top Customers
- Who are the top 5 customers by total revenue?

# Sales Distribution
- How many sales transactions are there per product?

# High-Value Transactions
- Which sales transactions exceeded $5000 in revenue?

# Average Revenue per Order
- What is the average revenue per sales order?

# Trend Over Time
- How does total revenue change over months or quarters?

# Improvement Insights
- Which products or regions are underperforming compared to others?